

#myTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#myTable td, #myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#myTable tr:nth-child(even){background-color: #f2f2f2;}

#myTable tr:hover {background-color: #ddd;}

#myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
table{
  width: 574px !important;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  line-height: 38px;
}

.example-full-width {
  width: 100%;
}
