<kendo-dialog *ngIf="active" title="Edit" (close)="closeForm($event)">
            <form [formGroup]="editForm">
                <div>
                    <label for="TenantID">Tenant ID</label>
                    <input type="text" formControlName="TenantID" [(ngModel)]="dataItemToEdit.id" />
                    <div [hidden]="editForm.controls.GudidBrndNm.valid || editForm.controls.GudidBrndNm.pristine" class="invalid">
                        Tenant ID is required
                    </div>
                </div>
                <div>
                    <label for="TenantName">Tenant Name</label>
                    <input type="text" formControlName="TenantName" [(ngModel)]="dataItemToEdit.name"/>
                </div>
            </form>

            <kendo-dialog-actions>
                <button class="k-button" (click)="onCancel($event)">Cancel</button>
                <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
            </kendo-dialog-actions>
        </kendo-dialog>
