<article class="template animated slideInRight">
    <mat-card class="mat-elevation-z0">
        <mat-card-content>
            <p>
                <mat-label style="width: 20%;">Name</mat-label>
                <mat-form-field style="margin-left: 30px;width: 80%;" floatLabel="never" appearance="legacy">
                    <input matInput>
                </mat-form-field>
            </p>
            <p>
                <mat-label style="width: 20%;">Description</mat-label>
                <mat-form-field style="margin-left: 30px;width: 80%;" floatLabel="never" appearance="legacy">
                    <textarea matInput style="height: 40px; border: 1px solid lightgray;"></textarea>
                </mat-form-field>
            </p>
            <kendo-tabstrip>
                <kendo-tabstrip-tab title="Permissions">
                    <ng-template kendoTabContent>
                        <kendo-grid [data]="gridData">
                            <kendo-grid-column field="Position" title="" [width]="20">
                            </kendo-grid-column>
                            <kendo-grid-column field="Name" [width]="90">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <input style="width: 100%; border-radius: 1px;" kendoTextBox [disabled]="true"
                                        value="{{dataItem.Name}}" />
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="Action" title="" [width]="30">
                                <ng-template kendoGridCellTemplate>
                                    <button kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'link'"
                                        [themeColor]="'primary'"> Delete
                                    </button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                        <button style="margin-top: 10px;" kendoButton [size]="'medium'" [rounded]="'full'"
                            [fillMode]="'outline'" [themeColor]="'info'">
                            <i class="fa fa-plus"></i> Add a Permission
                        </button>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Metadata Properties">
                    <ng-template kendoTabContent>
                        <kendo-grid [data]="meta">
                            <kendo-grid-column field="index" title="" [width]="20">
                            </kendo-grid-column>
                            <kendo-grid-column field="name" title="Name" [width]="30">
                                <ng-template kendoGridCellTemplate let-dataItem>
                                    <input style="width: 100%; border-radius: 1px;" kendoTextBox [disabled]="true"
                                        value="{{dataItem.Name}}" />
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="dataType" title="Data Type" [width]="30">
                                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                                    <kendo-dropdownlist [data]="listItems" style="width: 100%; border-radius: 1px;">
                                    </kendo-dropdownlist>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="option" title="" [width]="30">
                                <ng-template kendoGridCellTemplate>
                                    <button kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'solid'"
                                        [themeColor]="'primary'">Option List</button>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="action" title="" [width]="25">
                                <ng-template kendoGridCellTemplate>
                                    <button kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'link'"
                                        [themeColor]="'primary'"> Delete
                                    </button>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                        <button style="margin-top: 10px;" kendoButton [size]="'medium'" [rounded]="'full'"
                            [fillMode]="'outline'" [themeColor]="'info'">
                            <i class="fa fa-plus"></i> Add a Property
                        </button>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
            <kendo-tabstrip>
                <kendo-tabstrip-tab title="Permissions">
                    <ng-template kendoTabContent>
                        <form novalidate #myForm="ngForm">
                            <kendo-grid [data]="view | async" [height]="533" [pageSize]="gridState.take"
                                [skip]="gridState.skip" [sort]="gridState.sort" [pageable]="true" [sortable]="true"
                                (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)"
                                (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
                                (remove)="removeHandler($event)" (add)="addHandler($event, myForm)" [navigable]="true">
                                <ng-template kendoGridToolbarTemplate [position]="'bottom'">
                                    <button kendoGridAddCommand type="button" kendoButton [size]="'medium'"
                                        [rounded]="'full'" [fillMode]="'outline'" [themeColor]="'info'">
                                        <i class="fa fa-plus"></i> Add Permission
                                    </button>
                                </ng-template>
                                <kendo-grid-column field="ProductName" title="Product Name">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input [(ngModel)]="dataItem.ProductName" kendoGridFocusable name="ProductName"
                                            class="k-textbox k-input k-rounded-md" required />
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="UnitPrice" editor="numeric" title="Price">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input [(ngModel)]="dataItem.UnitPrice" kendoGridFocusable name="UnitPrice"
                                            class="k-textbox k-input k-rounded-md" type="number" />
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="Discontinued" editor="boolean" title="Discontinued">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input [(ngModel)]="dataItem.Discontinued" kendoGridFocusable
                                            name="Discontinued" type="checkbox" />
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-column field="UnitsInStock" editor="numeric" title="Units In Stock">
                                    <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                                        <input [(ngModel)]="dataItem.UnitsInStock" kendoGridFocusable
                                            name="UnitsInStock" required min="0" max="99"
                                            class="k-textbox k-input k-rounded-md" type="number" />
                                    </ng-template>
                                </kendo-grid-column>
                                <kendo-grid-command-column title="command" [width]="220">
                                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                                        <button kendoGridEditCommand type="button" [primary]="true">
                                            Edit
                                        </button>
                                        <button kendoGridRemoveCommand type="button">Remove</button>
                                        <button kendoGridSaveCommand type="button"
                                            [disabled]="myForm.invalid || myForm.pristine">
                                            {{ isNew ? "Add" : "Update" }}
                                        </button>
                                        <button kendoGridCancelCommand type="button">
                                            {{ isNew ? "Discard changes" : "Cancel" }}
                                        </button>
                                    </ng-template>
                                </kendo-grid-command-column>
                            </kendo-grid>
                        </form>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="Metadata Properties">
                    <ng-template kendoTabContent>

                        <button kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'outline'"
                            [themeColor]="'info'">
                            <i class="fa fa-plus"></i> Add a Property
                        </button>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>

        </mat-card-content>
        <hr>

        <mat-card-actions align="end">
            <button style="margin-right: 10px;" kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'solid'"
                [themeColor]="'base'">
                Cancel
            </button>
            <button kendoButton [size]="'medium'" [rounded]="'full'" [fillMode]="'solid'" [themeColor]="'primary'">
                Save
            </button>
        </mat-card-actions>
    </mat-card>
</article>