<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <story-nav></story-nav>
  <main class="mdl-layout__content">
    <section>
      <!-- <div class="page-content" style="margin-left: 13em"> -->
      <!--  -->
      <div class="content">
        <!-- <app-permission></app-permission> -->
        <router-outlet></router-outlet>
      </div>
      <!-- </div> -->
    </section>
  </main>
  <footer>
    <p class="ft-pr">
      <span>&#169; 2022 First Databank</span>
    </p>
  </footer>
</div>