<kendo-grid [data]="gridView"
      [selectable]="true"
      [pageSize]="pageSize"
      [skip]="skip"
      [pageable]="{buttonCount: 4, info: true, type: 'numeric', pageSizes: true, previousNext: true}"
      [height]="500"
      (pageChange)="pageChange($event)"

    >
  <kendo-grid-toolbar>

</kendo-grid-toolbar>
  <kendo-grid-column  field="id" title="Id" [width]="110">
  </kendo-grid-column>
  <kendo-grid-column field="domainUser.name" title="Name"  [width]="220">
    <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
      <!-- ({{columnIndex}}) -->
      {{column.field}}
    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<!--

    "domainUser": {
      "id": 11,
      "name": "Travis Johnson",
      "sub": "FA2AA038-1C8F-4E60-AA6A-E5B26BBBC857",
      "idp": "Idsrv",
      "password": null
    }
-->
